:root {
  --coHive: #a32c18;
  --off-white: #faf9f6;
  --header-border: #e15140;
  --getStarted: #722012;
  --get-started-btn: linear-gradient(90deg, var(--coHive), var(--getStarted));
  --briefIntro-bg: linear-gradient(90deg, var(--off-white), #fedde3);
}

html,
body {
  height: 100%;
  display: flex;
  flex-direction: column;

  background: linear-gradient(90deg, #fabdc8 0%, #faf9f6 100%);
}

.coHiveHeader {
  display: grid;
  grid-template-columns: 2fr 7fr 6fr;

  background-color: var(--off-white);
  background-color: white;

  border-radius: 5px;

  width: 100%;
  height: 60px;
}
.coHiveHeaderMenu {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 3fr;
}
.coHiveLogo {
  margin: 0;
  margin-left: 5px;
  font-family: sans-serif;
  font-weight: bolder;
  font-size: 32px;
  color: var(--coHive);
}
.coHiveLogo:hover {
  cursor: pointer;
}

.headerBtn {
  background-color: transparent;
  border: 0px;
  font-weight: bold;
  font-size: 16px;
}
.headerBtn:hover {
  cursor: pointer;
  text-decoration: underline;
  transform: scale(1.1);
  transition: 0.2s;
}

#getStarted-btn {
  background: var(--get-started-btn);

  border-radius: 60px;
  border: transparent;

  color: #faf9f6;

  margin-left: 30px;
  margin-top: 5px;
  height: 80%;
  width: 80%;

  font-size: 15px;
  font-weight: bold;
}
#getStarted-btn:hover {
  cursor: pointer;
}

.mainFrame {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;

  overflow: auto;
}
.briefIntro {
  border-radius: 20px;
  border-color: var(--header-border);

  display: grid;
  grid-template-columns: 1fr 2fr;
}
#briefIntro-img {
  margin-left: 20px;
  width: 630px;
  height: 500px;
  object-fit: fill;

  margin-top: 20px;
  margin-bottom: 20px;
}
#briefIntro-heading {
  font-size: 40px;
  font-family: "Georgia";

  color: var(--header-border);

  margin-left: 20px;
  padding-right: 20px;
  margin-top: 20px;
}
#briefIntro-text-img {
  display: grid;
  grid-template-columns: 8fr 1fr;
  margin-top: 10px;
  margin-bottom: 10px;
}
#briefIntro-text {
  margin-left: 20px;

  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 17px;

  display: flex;
  justify-content: center;
  align-items: center;

  margin-right: 15px;
}
#briefIntroSub-img {
  width: 150px;
  margin-right: 20px;
}
#briefIntro-foot {
  display: grid;
  grid-template-columns: 5fr 1fr;
  justify-content: right;
}
#briefIntro-foot-text {
  font-size: 20px;
  font-weight: bold;
  font-family: sans-serif;

  text-align: right;

  color: var(--coHive);
}
#briefIntro-foot-btn {
  background: var(--get-started-btn);

  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 10px;
  padding-right: 10px;

  border-radius: 10px;

  color: white;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 13px;
}

.topList {
  background-color: var(--off-white);
  margin-top: 10px;
}
.topInfluencers {
  display: flex;
  flex-direction: column;
}
.topInfluencersList {
  display: flex;
  flex-direction: column;
}
.topSponsors {
  display: flex;
  flex-direction: column;
}
.topSponsorsList {
  display: flex;
  flex-direction: column;
}
.topListHeading {
  font-size: 40px;
}
/* ! */
.viewMoreList {
  font-size: 15px;
  text-align: left;
}

.howItWorks {
  background-color: var(--off-white);
  margin-top: 10px;
}
.whatDoYouGet {
  background-color: var(--off-white);
  margin-top: 10px;
}
.tagline {
  background-color: var(--off-white);
  margin-top: 10px;
  margin-bottom: 10px;
}

.footer {
  display: grid;
  grid-template-columns: 6fr 1fr;

  position: relative;
}

.fullSize {
  width: 100%;
  height: 100%;
}
.itemCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrapper {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.borderCheck {
  border: 1px black solid;
}
