
*{
  padding:0;
  margin:0;
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
}
body {
  height: 100%;
  display: flex;
  flex-direction: column;
  background: linear-gradient(90deg, rgba(255, 184, 184, 0.835) 0%, rgb(251, 255, 255) 100%);
}

.coHiveHeader {
  display: grid;
  grid-template-columns: 2fr 7fr 3fr;

  font-size: x-large;

  width: 100%;
  height: 20px;
}
.coHiveLogo {
  margin: 0;
}

.mainFrame {
  display: grid;
  grid-template-rows: 500px 1px 500px 500px;
}

.footer {
  display: grid;
  grid-template-columns: 6fr 1fr;

  /* position: relative; */
  position: relative;
}
.itemCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrapper {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.borderCheck {
  border: 0px;
}

.itemCenter{
  height:100%;
  width:100%;
}
.get-started{
  border-radius: 100px;
  border-width:0cap;
  width:200px;
  height:50px;
  margin-top: 10px;
  margin-left: 50px;
  background-color: black;
  color: white;
  font-size: medium;
}
nav{
  display:flex;
  justify-content:space-between; 
  padding:5% 12%;
  align-items: center;   
}
.nav-links{
  flex:1;
  text-align: right;
  padding-top: 15px;
}
.nav-links ul li{
  list-style:none;
  display:inline-block;
  padding: 4px 8px;
  position: relative;
  font-size: medium;
  transition: 0.2s;
  
}
.nav-links ul li:hover{
  font-weight: 600;
  color:rgb(5, 5, 5);
  border-radius: 3px;
  font-size: 20px;
}
.redirectbuttoncss{
  border:0cap;
}
.tegline{

}
.Influencers{
  margin-left:50px;
  font-size: larger;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.sponsers{
  font-size: larger;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin-right:11px;
}
.briefintro{
   height:440px;
   width:1127px;
   margin-top:50px;
   margin-left:9px;
}
.how{
  height:490px;
  margin-left:0px;
  width:1127px;
}
.what{
  background-color: antiquewhite;
  height:490px;
  margin-left:10px;
  width:1127px;
}
.aboutus{
  height:50px;
}
#intro{
  height:600px;
}
#Influencersimage{
  height:300px;
  border-radius: 5px;
  margin-left: 180px;
}
#howitworks{
  height:500px;
}
#spons-collab{
  height:250px;
  border-radius: 10px;
  margin-left: 450px;
}