* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
}
body {
  height: 100%;
  display: flex;
  flex-direction: column;
  background: linear-gradient(
    90deg,
    rgba(255, 184, 184, 0.835) 0%,
    rgb(251, 255, 255) 100%
  );
}

.coHiveHeader {
  display: grid;
  grid-template-columns: 2fr 7fr 3fr;

  font-size: x-large;

  width: 100%;
  height: 20px;
}
.coHiveLogo {
  margin: 0;
}

.mainFrame {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;

  overflow: auto;
}

.footer {
  display: grid;
  grid-template-columns: 6fr 1fr;

  /* position: relative; */
  position: relative;
}
.itemCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrapper {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.borderCheck {
  border: 0px;
}

.itemCenter {
  height: 100%;
  width: 100%;
}
.get-started {
  border-radius: 100px;
  border-width: 0cap;
  width: 200px;
  height: 50px;
  margin-top: 10px;
  margin-left: 50px;
  background-color: black;
  color: white;
  font-size: medium;
}
nav {
  display: flex;
  justify-content: space-between;
  padding: 5% 12%;
  align-items: center;
}
.nav-links {
  flex: 1;
  text-align: right;
  padding-top: 15px;
}
